/*******************************************************************************
 * Themes
 ******************************************************************************/

@use "sass:color";

:root {
  color-scheme: light;
  --global-bg-color: #DCD7BA; /* fujiWhite */
  --global-code-bg-color: #F8F8F2;
  --global-text-color: #1F1F28; /* sumiInk1 */
  --global-text-color-light: #727169; /* fujiGray */
  --global-theme-color: #957FB8; /* oniViolet */
  --global-hover-color: #7E9CD8; /* crystalBlue */
  --global-hover-text-color: #DCD7BA; /* fujiWhite */
  --global-footer-bg-color: #2A2A37; /* sumiInk2 */
  --global-footer-text-color: #C8C093; /* oldWhite */
  --global-footer-link-color: #DCD7BA; /* fujiWhite */
  --global-distill-app-color: #54546D; /* sumiInk4 */
  --global-divider-color: #363646; /* sumiInk3 */
  --global-card-bg-color: #F8F8F2;
  --global-highlight-color: #E82424; /* samuraiRed */
  --global-back-to-top-bg-color: rgba(31, 31, 40, 0.4); /* sumiInk1 */
  --global-back-to-top-text-color: #DCD7BA;
  --global-newsletter-bg-color: #F8F8F2;
  --global-newsletter-text-color: #1F1F28;

  --global-tip-block: #98BB6C; /* springGreen */
  --global-tip-block-bg: #E2F5EC;
  --global-tip-block-text: #2B3328; /* winterGreen */
  --global-tip-block-title: #76946A; /* autumnGreen */
  --global-warning-block: #FF9E3B; /* roninYellow */
  --global-warning-block-bg: #FFF8D8;
  --global-warning-block-text: #49443C; /* winterYellow */
  --global-warning-block-title: #DCA561; /* autumnYellow */
  --global-danger-block: #E82424; /* samuraiRed */
  --global-danger-block-bg: #FFE0E0;
  --global-danger-block-text: #43242B; /* winterRed */
  --global-danger-block-title: #C34043; /* autumnRed */

  #light-toggle-system {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    display: none;
  }

  .only-light {
    display: block;
  }

  .only-dark {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
    bottom: $back-to-top-bottom;
    right: $back-to-top-right;
    height: $back-to-top-height;
    width: $back-to-top-width;
    z-index: $back-to-top-z-index;
  }
}

html[data-theme="dark"] {
  color-scheme: dark;
  --global-bg-color: #1F1F28; /* sumiInk1 */
  --global-code-bg-color: #2A2A37; /* sumiInk2 */
  --global-text-color: #C8C093; /* oldWhite */
  --global-text-color-light: #727169; /* fujiGray */
  --global-theme-color: #7E9CD8; /* crystalBlue */
  --global-hover-color: #957FB8; /* oniViolet */
  --global-hover-text-color: #DCD7BA; /* fujiWhite */
  --global-footer-bg-color: #16161D; /* sumiInk0 */
  --global-footer-text-color: #C8C093;
  --global-footer-link-color: #DCD7BA;
  --global-distill-app-color: #54546D;
  --global-divider-color: #363646;
  --global-card-bg-color: #2A2A37;
  --global-back-to-top-bg-color: rgba(255, 255, 255, 0.5);
  --global-back-to-top-text-color: #1F1F28;
  --global-newsletter-bg-color: #2A2A37;
  --global-newsletter-text-color: #C8C093;

  --global-tip-block: #98BB6C;
  --global-tip-block-bg: #2B3328;
  --global-tip-block-text: #DCD7BA;
  --global-tip-block-title: #76946A;
  --global-warning-block: #FF9E3B;
  --global-warning-block-bg: #49443C;
  --global-warning-block-text: #DCD7BA;
  --global-warning-block-title: #DCA561;
  --global-danger-block: #E82424;
  --global-danger-block-bg: #43242B;
  --global-danger-block-text: #DCD7BA;
  --global-danger-block-title: #C34043;

  .only-light {
    display: none;
  }

  .only-dark {
    display: block;
  }
}

html[data-theme-setting="dark"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-light {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
  }
}

html[data-theme-setting="light"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
}
